.dialog {
    border: 1px solid black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: lightgray;
    padding: 10px;
    word-wrap: break-word;
    max-width: 800px;
}

.active-tool > img {
    border: 3px solid orange;
}

.error {
    color: red;
}

.checkerboard {
    background-color: #eee;
    background-image: linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey), linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px
}

.zoom-range {
    width: '100px'
}

.zoom-value {
    width: '20px';
}

.dialog-button {
    margin-right: 5px;
}

.color-preview {
    border: 1px solid black;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.frame-list {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    border: 1px solid #d3d3d3;
}

.frame-list li {
    display: inline-block;
    padding: 10px;
}

div.frame-num {
    text-align: center
}

.frame-thumb {
    border: 1px solid black
}

.active-frame img {
    border: 3px solid orange;
}

.layer-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    border: 1px solid #d3d3d3;
}

.layer-name {
    display: block;
    text-align: center
}

/*

.layer-list li {
    display: inline-block;
    padding: 10px;
}



.layer-thumb {
    border: 1px solid black
}*/

.active-layer img {
    border: 3px solid orange;
}

.container {
    display: grid;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    grid-gap: 10px;
    grid-template: ". topbar topbar" "toolbar canvas sidebar" "toolbar infobar sidebar" "toolbar framebar sidebar";
    grid-template-columns: 40px auto 220px;
    grid-template-rows: 40px auto 24px 160px;
}

.editor {
    grid-area: canvas;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid #000000;
}

.toolbar {
    grid-area: toolbar;
}

.zoom-bar {
    grid-area: topbar;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    /*grid-gap: 10px;*/
    grid-template: "primary switch" "secondary switch" "picker picker" "layers layers";
    grid-template-rows: 40px 40px;
}

.primary-color {
    grid-area: primary;
}

.secondary-color {
    grid-area: secondary;
}

.switch-button {
    grid-area: switch;
}

.color-picker {
    grid-area: picker;
}

.layerbar {
    grid-area: layers;
}

.framebar {
    grid-area: framebar;
}

.infobar {
    grid-area: infobar;
    border: 1px solid black
}

.toolbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ui-icon {
    width: 24px;
    height: 24px;
}

.tool-list-tool {
    border: 1px solid gray;
}

.tool-list {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.tool-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}